body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

main {
  grid-area: 1 / 1 / 3 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 157px 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

h1 {
  grid-area: 1 / 3 / 2 / 4;
  margin: 0px;
  margin-top: 42px;
  color: $primaryColor;
  font-weight: 400;
}

section {
  grid-area: 2 / 1 / 3 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}
